---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for locale in locales %}
  <url>
    <loc>{{ site.origin }}{{ text[locale.code].paths.home }}</loc>
    {%- for other in locales %}
    <xhtml:link rel="alternate" hreflang="{{ other.code }}" href="{{ site.origin }}{{ text[other.code].paths.home }}"/>
    {%- endfor %}
  </url>
{%- endfor %}
</urlset>
